.contact-container {
  padding: 40px;
  background: rgba(0, 105, 255, 0.5);
  border-radius: 8px;
  color: black;
  background-image: url("../assets/images/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.contact-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  width: auto%;
  padding: 10px;
  background-color: #0069ff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.contact-info {
  margin-top: 30px;
}

.contact-info iframe {
  width: 100%;
  border: none;
  border-radius: 8px;
}

.contact-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 105, 255, 0.5);
  z-index: 1;
}
